// This is where you can add your own keybinds.
// See the system keybind file (referenced in `niri/config.kdl`) for extensive examples.

// ────────────── Keybindings ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Key-Bindings

binds {
	// ─── Noctalia ───
	// See available: noctalia msg --help
	// Example:
	// Mod+Shift+Ctrl+Alt+Space hotkey-overlay-title="Emoji Picker" { spawn-sh "noctalia msg panel-toggle launcher /emo"; }


	// ─── Hot-Rules ───
	// Toggle custom chunks of niri config with keybinds
	// Mod+Shift+Ctrl+Alt+Space hotkey-overlay-title="Toggle global transparency" { spawn-sh "bash /home/serpent/.local/share/feathers-and-flame/script/cmd/hot-rules.sh transparency"; }

	// ─── Applications ───
	// Run applications with keybinds
}
