binds {

	// ────────────── Keybindings ──────────────
	// https://github.com/YaLTeR/niri/wiki/Configuration:-Key-Bindings

	// ─── noctalia-shell keybinds ───
	// https://docs.noctalia.dev/getting-started/keybinds/

	// ─── Noctalia ───
	// See available: qs -c noctalia-shell ipc show

	// ─── Hot-Rules ───

	// ─── Applications ───
}
