output "eDP-1" {
	off
}

/-output "HDMI-A-1" {
	mode "1920x1080@50.000"
	scale 1
}

debug {
	// render-drm-device "/dev/dri/renderD129"
	emulate-zero-presentation-time
	render-drm-device "/dev/dri/card2"
}
