// Niri tablet support seems a bit buggy.
// A more reliable solution is to turn off monitors you aren't useing for drawing,
// because mapping to focused output can mess up drawing region, and calibration-matrix
// doesn't do anything.
input {
	tablet {
		// map-to-output "HDMI-A-1"
		map-to-focused-output
		// calibration-matrix 1.0 0.0 0.0 0.0 1.2 0.0
		// calibration-matrix 0.0 -1.0 1.0 1.0 0.0 0.0 // Rotate 90 clock for testing
	}
}
